<div class="sidebar-body">
    <ul class="nav">
        <li class="nav-item nav-category">Main</li>
        <li class="nav-item @ViewData["DashboardActive"]">
            <a href="~/" class="nav-link">
                <i class="link-icon" data-feather="box"></i>
                <span class="link-title">Booking</span>
            </a>
        </li>
        

      

    </ul>
</div>